* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.WhatsApp {
  position: fixed;
  z-index: +5;
  bottom: 30px;
  right: 30px;
}
.WhatsApp img {
  width: 60px;
}
/* ---------------------------------------------------NABVAR---------------------------------------------------------- */
header {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: +98;
  font-weight: 100;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  color: black;
  transition-duration: 1s;
}
.navbar-change {
  background-color: white;
  transition-duration: 1s;
}
.navbarItems {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.navbarItems img {
  width: auto;
  height: 80%;
}

.navbarItems a {
  color: black;
  text-decoration: none;
  transition: 0.25s ease;
}

.navbarItems ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0px;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.navbarItems ul:hover a {
  color: #9e9290;
}
.navbarItems ul:hover a:hover {
  color: white;
  box-shadow: 0 2px 0 0 currentColor;
}

.imgBackground {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
  }
}

.menuBurger {
  display: none;
}

/* ---------------------------------------------------SLIDER---------------------------------------------------------- */

.sectionSlider {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  transition: 0.6s;
  background-position: center center;
  background-size: cover;
}

.sectionSlider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: +1;
}

.sliderContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
  filter: none;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  filter: none;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}
.arrowSlider {
  position: absolute;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  font-size: 30px;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease;
}
.arrowSlider:hover {
  color: #fff;
}

.leftArrow {
  z-index: +2;
}

.rightArrow {
  right: 0%;
  z-index: +2;
}

/* --------------------------------------------------PLANIFICACION------------------------------------------------------------ */
.planificacion {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.secPlanificacion {
  width: 100%;
  min-height: auto;
  padding: 20px;
  text-align: center;
  background-color: #81c2d8 /*#7F9091*/;
  font-size: 40px;
}

.secPlanificacionCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.secPlanificacionCard {
  width: 200px;
  height: 200px;
}

.secPlanificacionCard h4 {
  font-size: 20px;
  padding: 20px;
}

.secPlanificacionCard i {
  font-size: 60px;
  cursor: pointer;
}

.secPlanificacionCard p {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

.secPlanificacionCard a {
  font-size: 15px;
  animation: expresiv 0.7s infinite ease-in-out;
  font-weight: 600;
  color: black;
}

.front,
.back {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed black;
  border-radius: 50%;
  cursor: none;
  position: absolute;
  z-index: +1;
}

.back {
  z-index: 0;
}

.secPlanificacionCard:hover .front {
  display: none;
}

@keyframes expresiv {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
/* ---------------------------------------------------CATEGORIES---------------------------------------------------------- */
.sectionCardCategories {
  min-width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  
}
.containerCardCategories {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.cardsCategories {
  width: 350px;
  height: 400px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.cardsCategories:hover {
  box-shadow: 0 14px 28px white, 0 10px 10px white;
  transition: 1s;
}

.cardsCategories:hover .cardBackCategories {
  transition: 0.5s;
  top: 0;
}
.cardsCategories:hover .cardFrontCategories h3 {
  opacity: 0;
}

.cardFrontCategories {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  transition: 1s;
  align-items: center;
  h3 {
    width: 100%;
    padding: 20px;
    background-color: rgb(250, 250, 250, 0.8);
    text-align: center;
    opacity: 1;
    z-index: +2;
    transition-duration: 1s;
  }
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardBackCategories {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  transition: 1s;
  position: absolute;
  top: -100%;
  background-color: rgb(250, 250, 250, 0.8);
  padding: 20px;
}

/* ---------------------------------------------------SLIDER - IMG ---------------------------------------------------------- */
.SectionSliders {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 80px;
}

.holder{
  width: 100%;
  height: 80%;
  overflow: hidden;
  background-color: rebeccapurple;
}

.holder::-webkit-scrollbar {
  display: none;
}

.sliders {
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.box1{
  order: 1;
}

.slidersInfo{
  width: 50%;
  text-align: center;
  align-self: center;
  color: wheat;
  margin: 3%;
}

.sliders img {
  width: 50%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .prevContainerSliders,
  .nextContainerSliders {
    display: none;
    visibility: hidden;
  }
}

.prevContainerSliders,
.nextContainerSliders {
  background-color: rgba(250, 250,250, 0.3);  
  position: absolute;
  top: 50%;
  transform: translate(0, calc(-50% - 54px));
  color: wheat;
  height: 54px;
  width: 54px;
  cursor: pointer;
}

.prevContainerSliders {
  margin-left: 26px;
  left: 0;
  border-radius: 30px 0 0 30px;
}

.prevSliders svg,
.nextContainerSliders svg {
  fill: white;
}

.nextContainerSliders {
  margin-right: 26px;
  right: 0;
  border-radius: 0 30px 30px 0;
}


/* Container for image text */
.captionContainerSliders {
  height: 50px;
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnSliders{
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(129, 194, 216);
  opacity: 0.4;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btnSliders:hover{
  background-color: #81c2d8;
  opacity: 1;
}

.rowSliders{  
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.rowSliders:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.columnSliders {
  float: left;
  width: 13%;
}

.slideThumbnail {
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
}

.activeSliders{
  opacity: 1;
}
.slideThumbnail:hover {
  opacity: 1;
}
/* ---------------------------------------------------ABOUT ---------------------------------------------------------- */
.about {
  width: 100vw;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition-duration: 2s;
  overflow: hidden;
}

.aboutLeft {
  padding: 50px;
  height: 70vh;
  width: 40vw;
  z-index: +97;
  background-color: white;
  border-radius: 5%;
  transition-duration: 1s;
  opacity: 0;
  transform: translateX(-100%);
}

.aboutRight {
  z-index: +96;
  background-color: #024257;
  height: 75vh;
  width: 45vw;
  border-radius: 5%;
  transition-duration: 1s;
  opacity: 0;
  transform: translateX(+100%);
}

.aboutMsg {
  position: absolute;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

  h3 {
    font-size: 2rem;
    padding: 0%;
    margin: 0%;
  }
  p {
    font-size: 1.2rem;
  }
}

.activeAbout {
  transform: translateX(0%);
  transition-duration: 2s;
  opacity: 1;
}

/* ---------------------------------------------------MATERIAL ---------------------------------------------------------- */
.material {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.materialContainer {
  width: 80%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.materialCards {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
  opacity: 0;
  transition-duration: 1s;
  h3 {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}
.toggleMaterial {
  opacity: 1;
  transition-duration: 1s;
}

.materialCard {
  width: 100%;
  height: 90%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 70px;
    opacity: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0);
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
  }
  span:hover {
    background-color: rgb(0, 0, 0, 0.7) !important;
    transition-duration: 1s;
    cursor: default;
    font-size: 1.5rem;
  }
}
.animationMaterial {
  opacity: 1 !important;
  transition-duration: 2s;
  background-color: rgb(0, 0, 0, 0.2) !important;
}

/* ---------------------------------------------------FOOTER---------------------------------------------------------- */
footer {
  width: 100vw;
  background-color: black;
  z-index: +100;
  color: white;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.container-footer {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-Networks {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 70%;
    object-fit: cover;
  }
}

.footer-Data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: center;
}

.footer-descrip i {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  background-color: red;
  border-radius: 20px;
  a {
    color: white;
  }
}

.containerIcon {
  width: 40vw;
  margin-right: 10%;
  display: flex;
  align-items: center;
  a {
    color: white;
  }
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(156, 156, 156, 0.25);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;

  i {
    font-size: 1.7rem;
  }
}
.panel h3 {
  font-size: 20px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.email {
  background: linear-gradient(#dc1013, #fab4b5);
}

.phone {
  background: linear-gradient(#ade163, #496d15);
}
